asgiref==3.7.2
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
Django==3.2.25
django-allauth==0.61.1
django-jazzmin==2.6.0
djangorestframework==3.14.0
idna==3.6
modeltranslation==0.25
oauthlib==3.2.2
psycopg2==2.9.9
pycparser==2.21
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.4.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.7
