<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <title>URL Shortener</title>

</head>

<body>
    <form method="post" class="shorten_url">
        {% csrf_token %}
        <center>
            <a class="title" href="./" style="text-decoration: none;">
                <h1>URL Shortener</h1>
            </a>
            <br />
            <form>
                <div>
                    <input type="url" name="url" placeholder="enter a url" required />
                    <input type="text" name="slug" placeholder="enter a slug" style="margin-top: 10px;" />
                </div>
                <br />
                <input type="submit" value="shorten!" />
            </form>
            <br />
            <a href="https://t.me/azamatcoders">Telegram</a>
            <span> | </span>
            <a href="https://instagram.com/azamat_dosmukhambetov">Instagram</a>
            <br />
            <div id="response"></div>
        </center>
    </form>
</body>
<!-- <script src="./index.js"></script> -->

</html>